@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
body {
  background-color: #d9e4ec;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}
